In [1]:
import pandas as pd
import os

In [3]:
df = pd.read_excel("churn_data.xlsx",sheet_name='ASSOCIATION_PTB')
df

,Customer_ID,Gender,Age,Connect_Date,L_O_S,Dropped_Calls,tariff,Churn,Handset,Peak_calls_Sum,...,National_mins,AveNational,All_calls_mins,Usage_Band,Mins_charge,call_cost_per_min,actual_call_cost,Total_call_cost,Total_Cost,average_cost_min
0,K100010,M,46,1999-07-18,15.066667,1,CAT 50,Churned,SOP10,14,...,58.637756,1.221620,60.081645,Low,-241.362244,11.161790,0.000000,0.433167,83.833167,1.395321
1,K100020,M,27,1997-09-18,37.333333,0,CAT 50,Churned,SOP10,54,...,60.590001,0.688523,70.369367,Low,-239.409999,11.508876,0.000000,2.933810,86.333810,1.226866
2,K100030,M,39,1996-08-23,50.366667,2,CAT 50,Churned,SOP20,44,...,137.400001,2.050746,154.001093,Low,-162.599999,10.283843,0.000000,4.980328,88.380328,0.573894
3,K100040,M,28,1998-08-18,26.200000,2,CAT 50,Churned,SOP10,44,...,137.400000,2.050746,154.001076,Low,-162.600000,10.283843,0.000000,4.980323,88.380323,0.573894
4,K100070,M,38,1999-10-14,12.133333,1,CAT 50,Churned,SOP20,68,...,64.394557,0.858594,71.067881,Low,-235.605443,13.753894,0.000000,2.001997,85.401997,1.201696
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24994,K356720,M,49,1997-04-08,42.766667,0,CAT 200,Active,S50,575,...,1583.699999,2.403187,1622.298064,Med,383.699999,9.078424,34.833913,46.413332,196.413332,0.121071
24995,K356730,F,22,1998-07-13,27.400000,0,CAT 200,Active,WC95,415,...,1157.800000,2.533479,1313.523850,Med,-42.200000,7.912420,0.000000,46.717155,196.717155,0.149763
24996,K356740,M,13,1998-06-03,28.733333,7,CAT 200,Active,CAS30,375,...,1125.000002,2.647059,1153.551596,Med,-74.999998,8.746667,0.000000,8.565478,158.565478,0.137459
24997,K356750,M,58,1999-06-23,15.900000,0,CAT 200,Active,CAS30,763,...,1341.900003,1.608993,1448.069180,Med,141.900003,9.308071,13.208153,45.058906,195.058906,0.134703
24998,K356760,F,17,1999-11-13,11.133333,2,CAT 200,Active,WC95,534,...,1434.899999,2.214352,1548.918764,Med,234.899999,8.340999,19.593007,53.798637,203.798637,0.131575

In [4]:
df.describe()

,Age,Connect_Date,L_O_S,Dropped_Calls,Peak_calls_Sum,Peak_mins_Sum,OffPeak_calls_Sum,OffPeak_mins_Sum,Weekend_calls_Sum,Weekend_mins_Sum,...,National_calls,National_mins,AveNational,All_calls_mins,Mins_charge,call_cost_per_min,actual_call_cost,Total_call_cost,Total_Cost,average_cost_min
count,24999.000000,24999,24999.000000,24999.000000,24999.000000,24999.000000,24999.000000,24999.000000,24999.000000,24999.000000,...,24999.000000,24999.000000,24999.000000,24999.000000,24999.000000,24981.000000,24999.000000,24999.000000,24999.000000,24999.000000
mean,30.348774,1998-01-16 23:09:39.335173504,33.301165,2.443538,244.262090,724.225398,96.467099,288.708725,15.693348,47.152261,...,356.422537,1060.086384,4.156837,1249.519651,97.575883,10.238101,20.923311,81.173701,194.973415,0.223113
min,12.000000,1996-01-01 00:00:00,9.533333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,-1749.600000,2.000000,0.000000,0.000000,59.940000,0.064074
25%,20.000000,1997-01-11 00:00:00,20.533333,0.000000,57.000000,327.000000,25.000000,132.600000,4.000000,20.000000,...,156.000000,642.200000,2.205000,755.725219,-118.500000,8.661073,0.000000,36.497065,131.330678,0.143628
50%,28.000000,1998-01-18 00:00:00,33.266667,1.000000,168.000000,632.400001,67.000000,258.000000,10.000000,40.200000,...,292.000000,981.300000,2.950000,1149.740260,90.000000,9.639399,9.208732,67.116331,180.898005,0.160725
75%,38.000000,1999-02-04 00:00:00,45.666667,2.000000,355.000000,1035.600000,141.000000,415.800000,22.000000,68.499999,...,486.000000,1409.999999,4.517320,1663.879089,312.900000,11.915609,32.681981,107.901938,244.775245,0.184736
max,82.000000,1999-12-31 00:00:00,58.200000,15.000000,1725.000000,2893.800001,647.000000,1146.000000,124.000000,205.000000,...,2014.000000,3550.800000,58.840909,4191.360148,2350.800000,25.000000,202.490395,474.433782,624.433782,59.940000
std,12.835550,NaN,14.255039,3.023947,244.695578,518.814193,93.471359,194.779293,16.380505,35.875937,...,266.150656,569.277973,3.938587,677.806441,462.974996,2.120988,29.222683,63.784636,86.560715,1.606291

### Check the duplicate values

In [5]:
df.duplicated().any()

False

### Inter-quarter range

In [7]:
# Function to calculate Q1, Q3, IQR, Lower Bound, and Upper Bound
def calculate_iqr(series):
    Q1 = series.quantile(0.25)
    Q3 = series.quantile(0.75)
    IQR = Q3 - Q1
    return pd.Series({
        'Q1': Q1,
        'Q3': Q3,
        'IQR': IQR,
        'Lower Bound': Q1 - 1.5 * IQR,
        'Upper Bound': Q3 + 1.5 * IQR
    })

# Apply the function to numeric columns only
iqr_report = df.select_dtypes(include=['float64', 'int64']).apply(calculate_iqr)

# Transpose to get columns as keys and IQR details as values
iqr_report = iqr_report.T

# Display the resulting IQR report
iqr_report

,Q1,Q3,IQR,Lower Bound,Upper Bound
Age,20.000000,38.000000,18.000000,-7.000000,65.000000
L_O_S,20.533333,45.666667,25.133334,-17.166668,83.366668
Dropped_Calls,0.000000,2.000000,2.000000,-3.000000,5.000000
Peak_calls_Sum,57.000000,355.000000,298.000000,-390.000000,802.000000
Peak_mins_Sum,327.000000,1035.600000,708.600000,-735.900000,2098.500000
OffPeak_calls_Sum,25.000000,141.000000,116.000000,-149.000000,315.000000
OffPeak_mins_Sum,132.600000,415.800000,283.200000,-292.200000,840.600000
Weekend_calls_Sum,4.000000,22.000000,18.000000,-23.000000,49.000000
Weekend_mins_Sum,20.000000,68.499999,48.499999,-52.749999,141.249998
International_mins_Sum,73.157046,268.658402,195.501356,-220.094988,561.910436
Nat_call_cost_Sum,0.000000,32.913703,32.913703,-49.370555,82.284259
AvePeak,1.979345,5.752941,3.773595,-3.681048,11.413334
AveOffPeak,1.952363,5.858666,3.906304,-3.907093,11.718122
AveWeekend,1.867695,5.250000,3.382306,-3.205764,10.323458
National_calls,156.000000,486.000000,330.000000,-339.000000,981.000000
National_mins,642.200000,1409.999999,767.799999,-509.499998,2561.699998
AveNational,2.205000,4.517320,2.312320,-1.263480,7.985800
All_calls_mins,755.725219,1663.879089,908.153870,-606.505586,3026.109894
Mins_charge,-118.500000,312.900000,431.400000,-765.600001,960.000001
call_cost_per_min,8.661073,11.915609,3.254536,3.779269,16.797413
actual_call_cost,0.000000,32.681981,32.681981,-49.022971,81.704952
Total_call_cost,36.497065,107.901938,71.404874,-70.610245,215.009249
Total_Cost,131.330678,244.775245,113.444568,-38.836173,414.942097
average_cost_min,0.143628,0.184736,0.041109,0.081964,0.246400

In [9]:
df.isnull().any().sum()

1

In [11]:
dqa = df.dropna(axis=1)

In [12]:
dqa

,Customer_ID,Gender,Age,Connect_Date,L_O_S,Dropped_Calls,tariff,Churn,Handset,Peak_calls_Sum,...,National_calls,National_mins,AveNational,All_calls_mins,Usage_Band,Mins_charge,actual_call_cost,Total_call_cost,Total_Cost,average_cost_min
0,K100010,M,46,1999-07-18,15.066667,1,CAT 50,Churned,SOP10,14,...,48,58.637756,1.221620,60.081645,Low,-241.362244,0.000000,0.433167,83.833167,1.395321
1,K100020,M,27,1997-09-18,37.333333,0,CAT 50,Churned,SOP10,54,...,88,60.590001,0.688523,70.369367,Low,-239.409999,0.000000,2.933810,86.333810,1.226866
2,K100030,M,39,1996-08-23,50.366667,2,CAT 50,Churned,SOP20,44,...,67,137.400001,2.050746,154.001093,Low,-162.599999,0.000000,4.980328,88.380328,0.573894
3,K100040,M,28,1998-08-18,26.200000,2,CAT 50,Churned,SOP10,44,...,67,137.400000,2.050746,154.001076,Low,-162.600000,0.000000,4.980323,88.380323,0.573894
4,K100070,M,38,1999-10-14,12.133333,1,CAT 50,Churned,SOP20,68,...,75,64.394557,0.858594,71.067881,Low,-235.605443,0.000000,2.001997,85.401997,1.201696
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24994,K356720,M,49,1997-04-08,42.766667,0,CAT 200,Active,S50,575,...,659,1583.699999,2.403187,1622.298064,Med,383.699999,34.833913,46.413332,196.413332,0.121071
24995,K356730,F,22,1998-07-13,27.400000,0,CAT 200,Active,WC95,415,...,457,1157.800000,2.533479,1313.523850,Med,-42.200000,0.000000,46.717155,196.717155,0.149763
24996,K356740,M,13,1998-06-03,28.733333,7,CAT 200,Active,CAS30,375,...,425,1125.000002,2.647059,1153.551596,Med,-74.999998,0.000000,8.565478,158.565478,0.137459
24997,K356750,M,58,1999-06-23,15.900000,0,CAT 200,Active,CAS30,763,...,834,1341.900003,1.608993,1448.069180,Med,141.900003,13.208153,45.058906,195.058906,0.134703
24998,K356760,F,17,1999-11-13,11.133333,2,CAT 200,Active,WC95,534,...,648,1434.899999,2.214352,1548.918764,Med,234.899999,19.593007,53.798637,203.798637,0.131575

### Calculating percentile

In [13]:
numerical_columns = dqa.select_dtypes(include=['float64', 'int64'])
percentiles = [0.01, 0.05, 0.1, 0.9, 0.95, 0.99]
percentile_values = numerical_columns.quantile(percentiles)
print("Percentiles (1%, 5%, 10%, 90%, 95%, 99%) for each numerical column:")
percentile_values

Percentiles (1%, 5%, 10%, 90%, 95%, 99%) for each numerical column:

,Age,L_O_S,Dropped_Calls,Peak_calls_Sum,Peak_mins_Sum,OffPeak_calls_Sum,OffPeak_mins_Sum,Weekend_calls_Sum,Weekend_mins_Sum,International_mins_Sum,...,AveWeekend,National_calls,National_mins,AveNational,All_calls_mins,Mins_charge,actual_call_cost,Total_call_cost,Total_Cost,average_cost_min
0.01,12.0,10.000000,0.0,1.0,25.196174,0.00,0.000000,0.0,0.000000,2.392614,...,0.000000,26.0,94.787393,1.567757,108.924424,-1010.204001,0.000000,1.520925,62.715631,0.105354
0.05,14.0,12.000000,0.0,10.0,66.000000,4.00,33.299999,0.0,0.000000,13.170585,...,0.000000,57.0,254.700001,1.731231,294.038924,-806.820000,0.000000,7.230712,76.125350,0.120795
0.10,16.0,13.900000,0.0,20.0,106.199999,8.00,55.439999,1.0,4.800000,26.327947,...,1.542857,85.0,381.000001,1.858795,440.216047,-438.300000,0.000000,14.855949,92.279557,0.128241
0.90,49.0,53.166667,8.0,579.0,1439.399999,231.00,570.599999,38.0,99.000000,396.164782,...,11.500000,720.0,1833.600000,7.409598,2177.265831,631.760002,55.903395,163.820987,312.068722,0.224817
0.95,55.0,55.733333,10.0,742.0,1705.200000,288.00,645.930000,50.0,116.500001,477.774350,...,19.500000,881.1,2110.230000,10.451925,2493.004526,910.230000,81.018031,206.472962,356.109133,0.280768
0.99,66.0,57.733333,11.0,1078.0,2353.200000,404.02,805.812000,73.0,147.600000,651.545891,...,47.400000,1234.0,2673.042000,20.812477,3189.129620,1473.042000,137.505273,304.593358,454.593358,0.666799

## Calculation of median,mode and Variance

In [20]:
median = numerical_columns.median().reset_index()
median

                     index            0
0                      Age    28.000000
1                    L_O_S    33.266667
2            Dropped_Calls     1.000000
3           Peak_calls_Sum   168.000000
4            Peak_mins_Sum   632.400001
5        OffPeak_calls_Sum    67.000000
6         OffPeak_mins_Sum   258.000000
7        Weekend_calls_Sum    10.000000
8         Weekend_mins_Sum    40.200000
9   International_mins_Sum   157.531943
10       Nat_call_cost_Sum     9.469998
11                 AvePeak     2.921053
12              AveOffPeak     2.934783
13              AveWeekend     2.760000
14          National_calls   292.000000
15           National_mins   981.300000
16             AveNational     2.950000
17          All_calls_mins  1149.740260
18             Mins_charge    90.000000
19        actual_call_cost     9.208732
20         Total_call_cost    67.116331
21              Total_Cost   180.898005
22        average_cost_min     0.160725

In [21]:
mode = numerical_columns.mode().iloc[0].reset_index()
mode

                     index           0
0                      Age   23.000000
1                    L_O_S   13.433333
2            Dropped_Calls    2.000000
3           Peak_calls_Sum    0.000000
4            Peak_mins_Sum    0.000000
5        OffPeak_calls_Sum    0.000000
6         OffPeak_mins_Sum    0.000000
7        Weekend_calls_Sum    0.000000
8         Weekend_mins_Sum    0.000000
9   International_mins_Sum    0.000000
10       Nat_call_cost_Sum    0.000000
11                 AvePeak    0.000000
12              AveOffPeak    0.000000
13              AveWeekend    0.000000
14          National_calls   98.000000
15           National_mins    0.000000
16             AveNational    0.000000
17          All_calls_mins    0.000000
18             Mins_charge -600.000000
19        actual_call_cost    0.000000
20         Total_call_cost    0.000000
21              Total_Cost   59.940000
22        average_cost_min   59.940000

In [24]:
coefficient_of_var = numerical_columns.std() / numerical_columns.mean()
coefficient_of_var.reset_index()

                     index         0
0                      Age  0.422935
1                    L_O_S  0.428064
2            Dropped_Calls  1.237528
3           Peak_calls_Sum  1.001775
4            Peak_mins_Sum  0.716371
5        OffPeak_calls_Sum  0.968945
6         OffPeak_mins_Sum  0.674657
7        Weekend_calls_Sum  1.043787
8         Weekend_mins_Sum  0.760853
9   International_mins_Sum  0.785655
10       Nat_call_cost_Sum  1.388793
11                 AvePeak  4.300286
12              AveOffPeak  2.993255
13              AveWeekend  1.684362
14          National_calls  0.746728
15           National_mins  0.537011
16             AveNational  0.947496
17          All_calls_mins  0.542454
18             Mins_charge  4.744769
19        actual_call_cost  1.396657
20         Total_call_cost  0.785780
21              Total_Cost  0.443962
22        average_cost_min  7.199441